<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Authentification</servlet-name>
        <servlet-class>cnam.informatique.nt2.Authentification</servlet-class>
        <init-param>
            <param-name>Login</param-name>
            <param-value/>
        </init-param>
        <init-param>
            <param-name>Mdp</param-name>
            <param-value/>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Jeu</servlet-name>
        <servlet-class>cnam.informatique.nt2.Jeu</servlet-class>
        <multipart-config>
            <location>/temp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Mouvement</servlet-name>
        <servlet-class>cnam.informatique.nt2.Mouvement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inscription</servlet-name>
        <servlet-class>cnam.informatique.nt2.Inscription</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authentification</servlet-name>
        <url-pattern>/Authentification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Jeu</servlet-name>
        <url-pattern>/Jeu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mouvement</servlet-name>
        <url-pattern>/Mouvement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <jsp-file>authentification.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <jsp-file>menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Enregistrement</servlet-name>
        <jsp-file>inscription.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Enregistrement</servlet-name>
        <url-pattern>/inscription</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Jouer</servlet-name>
        <jsp-file>jeu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jouer</servlet-name>
        <url-pattern>/jeu</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>connexion</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
